<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IBM Recommendations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="{{ url_for('hello_world') }}">IBM Recommender Engine</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarNav">
    			<ul class="navbar-nav">
      				<li class="nav-item">
        				<a class="nav-link" href="https://www.ibm.com/ca-en/marketplace/watson-studio">Data from IBM</a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link" href="https://github.com/sameedakber-ai/ibm-recommendations-2">GitHub</a>
      				</li>
                    <li class="nav-item">
        				<a class="nav-link" href="https://medium.com/@sameedakber.ai">Medium</a>
      				</li>
    			</ul>
  			</div>
	</nav>

    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center display-4">Article Recommender</h1>
            <p class="text-center lead">Using IBM's user-article interactions data to make tailored recommendations</p>
            {% block hide %}
            <hr class="my-5">
            <div class="container">
                <p class="font-italic lead text-lg-center">Sign In with an existing ID or sign up with a new one</p>
                <p class="text-sm-center font-italic">Returning users enter integer ID's 1 - 5148</p>
                <p class="text-sm-center font-italic">New users make integer ID's 5149 - 100000</p>
                <div class="row">
                    <div class="col-lg-12 form-control-lg">
                        <form action="/temp" method="POST">
                            <input class="form-control form-control-lg" type="text" name="userid" placeholder="User ID">
                            <div class="col-lg-offset-5 text-center">
                                <button class="btn btn-lg btn-success" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>