{% extends 'index.html' %}

{% block hide %}
{% endblock %}

{% block content %}

    <h1 class="text-center">Welcome New user {{ id }}</h1>
    <br>
    <p class="text-center lead font-italic">Here are the top 10 most popular articles among IBM personnel</p>
    <div class="overflow-auto list-group" style="height: 250px;">
        {% for rec,desc,link in recs %}
            <a href="{{ url_for('updatedatabase', subpath=link, id=id, article=rec) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ rec }}</h5>
                </div>
                <p class="mb-1">{{ desc }}</p>
            </a>
        {% endfor %}
    </div>

    <hr class="my-5">

{% endblock %}

{% block redirect %}
{% endblock %}