{% extends 'index.html' %}

{% block hide %}
{% endblock %}

{% block content %}

    <h1 class="text-center">Welcome back user {{ user_id }}</h1>
    <br>
    <p class="text-center lead font-italic">Here are the top 15 recommendations for you</p>
    <div class="overflow-auto list-group" style="height: 250px;">
        {% for rec,descr,link in recs %}
            <a href={{ link }} class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ rec }}</h5>
                </div>
                <p class="mb-1">{{ descr }}</p>
            </a>
        {% endfor %}
    </div>

{% endblock %}